.search {
    margin-left: 25%;
    margin-top: 20px; 
    width: 50%;
    border: 2px solid #000;
    border-radius: 2em;
    overflow: hidden;
    font-size: 1rem;
    display: flex;
  }

  .searchButton,
  .searchInput {
    background-color: #fff;
    border: none;
    outline: none;
  }
  
  .searchInput {
    font-size: 25px;
    padding: 1rem;
    width: 85%;
  }
  
  .searchButton {
    width: 15%;
    font-size: 1.5rem;
    padding-right: 0.5em;
    color: gray;
    display: grid;
    place-content: center;
  }