.coinBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 20px;
}

.coinContainer{
    width: 50%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #070600;
    background-color: #ffffff;
    padding: 10px 30px;
    margin: 20px auto 20px auto;
}

.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: center;
}

.pageNumbers li{
    padding: 15px;
    border-radius: 5px;
    border: 1.5px solid #000;
    box-shadow: 10px 2px 10px 2px rgb(0 0 0 / 10%);
    margin: 0 5px;
    cursor: pointer;
}

.tableHead{
    background-color: rgb(237, 237, 237);
    margin: 10px;
}


.css-1066skd{
    margin-left: 25%;
}

.coinTable{
    width: 100%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    margin-top: 30px;
}

tr{
    border-bottom: 1px solid #000;
}

td{
    width: 25%;
    padding: 10px;
    font-weight: 300;
    font-size: 18px;
}

th{
    width: 25%;
    font-weight: 600;
    font-size: 20px;
}

.tableBorder{
    border-radius: 10px;
    overflow: hidden;
}