html{
  min-height: 100%;
}

body {
  background: rgb(71,0,164);
  background: linear-gradient(180deg, rgba(71,0,164,1) 0%, rgba(0,0,0,1) 100%);
}
.box1{
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #070600;
  background-color: #ffffff;
  padding: 10px 30px;
  margin: 20px auto 20px auto;
}


.list{
  padding-inline-start: 0px;
}